/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

p, label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
}

button:hover {
  background-color: #064f4b;
  color: white;
}

.hidden {
  display: none !important;
}

.bg-img-container {
  padding: 0;
  position: fixed;
  z-index: -1;
}

.bg-img {
  max-width: 100%;
  max-height: 100%;
}

.header {
  background-color: #0fb9b1;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  height: 70px;
}

.header-text {
  font-size: 30px;
  padding-left: 40px;
}

.add-recipe-button {
  height: 40px;
  margin-left: auto;
  margin-right: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
}

.footer {
  background-color: #95a5a6;
  width: 100%;
  position: absolute;
  display: flex;
  height: 50px;
  align-content: flex-end;
  align-items: center;
  bottom: 0;
}

@media(max-width:1045px) {
  .footer {
    float: bottom;
    position: sticky;
  }
}


.boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.left-box {
  margin-top: 150px;
  height: 400px;
  width: 500px;
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  padding-left: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.required {
  color: #ee5253;
}

.dish-type {
  padding-bottom: 15px;
}

.lets-cook-button {
  background-color: #0fb9b1;
  width: 200px;
  padding: 10px;
  margin-top: 20px;
}

.right-box {
  margin-top: 150px;
  height: 400px;
  width: 500px;
  background-color: rgba(225, 225, 225, .9);
}

.cookpot {
  display: block;
  margin: auto;
  padding-top: 120px;
  height: 220px;
  width: 220px;
}

.suggestion-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 90px;
}

.dish-suggestion {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  height: 80px;
}

.reset-dislike-randomize {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.reset-button {
  background-color: #95a5a6;
  width: 150px;
  padding: 10px;
  margin-top: 65px;
}

.dislike-button {
  font-size: 30px;
  background: transparent;
  margin-right: 10px;
}


.randomize-button {
  font-size: 30px;
  background: transparent;
  margin-left: 10px;
}

.dislike-button:hover,
.randomize-button:hover {
  background: white;
  opacity: .9;
}


.add-recipe-form {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  align-items: center;
}

.custom-recipe {
  padding-right: 20px;
}

.add-new-button {
  background-color: white;
  width: 100px;
  padding: 5px;
}
